/* Экран2 */

/* тест передачи изменений из github в vscode */

*{
    margin:0;
    padding:0;
    line-height: 140%; /*высота ВЫДЕЛЕНИЯ текста*/
}

body{
    font-family: 'TT Hoves';
    color:#222; /*не совсем чёрный*/
}

section{
   padding: 0 120px; /*слева и справа отступы*/
}



h2{
    width: 769px;
    margin-bottom: 41px;
    font-size: 58px;
    font-weight: 500;
    letter-spacing: 0.58px;
    text-transform: uppercase;
}
@media (max-width: 768px) {
    h2 {
        width: 500px;
        font-size: 34px;
}

.all{
    margin-top: 41px;
}

.one_two{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}

.photo{
    width: 287px;
    flex-grow: 0;
    margin-bottom: 20px;
    margin-top: 0;

    flex-shrink: 1;
}
.category{
    width: 420px;
    text-transform: uppercase;
    font-size: 27px;
    font-weight: 600;
    margin-bottom: 39px;

    flex-grow: 0;
    flex-shrink: 1;
}

p{
    width: 450px;
    margin-bottom: 20px;
    font-size: 27px;

    flex-grow: 0;
    flex-shrink: 1;
}

.three_four{
    display:flex;
    flex-wrap: wrap;
    gap: 20px 70px;
}
